<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="autowiredPostProcess" class="com.minis.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="aservice" class="org.example.service.impl.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
<!--        <property type="org.example.service.BaseService" name="baseService" ref="baseService"/>-->
    </bean>
    <bean id="baseService" class="org.example.service.impl.BaseServiceImpl">
<!--        <property type="org.example.service.AService" name="aservice" ref="aservice" />-->
    </bean>

    <bean id="handlerAdapter" class="com.minis.web.method.annotation.RequestMappingHandlerAdapter">
        <property type="com.minis.web.bind.support.WebBindingInitializer" name="webBindingInitializer" ref="webBindingInitializer"/>
        <property type="com.minis.web.HttpMessageConverter" name="httpMessageConverter" ref="httpMessageConverter"/>
    </bean>
    <bean id="webBindingInitializer" class="org.example.dateEditor.DateInitializer">
    </bean>
    <bean id="httpMessageConverter" class="com.minis.web.DefaultHttpMessageConverter">
        <property type="com.minis.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>
    <bean id="objectMapper" class="com.minis.util.DefaultObjectMapper">
        <property type="String" name="dateFormat" value="yyyy-MM-dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>

    <bean id="viewResolver" class="com.minis.web.servlet.view.InternalResourceViewResolver">
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

    <bean id="userService" class="org.example.service.impl.UserServiceImpl">
    </bean>
    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate">
    </bean>
    <bean id="sqlParser" class="com.minis.batis.DefaultSqlParser">
    </bean>
    <bean id="userDao" class="org.example.dao.UserDao">
    </bean>
    <bean id="dataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/test?useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;characterEncoding=utf-8&amp;autoReconnect=true"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value="horse..0"/>
        <property type="int" name="initialSize" value="10"/>
    </bean>
    <bean id="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"/>
    </bean>

    <bean id="realService" class="org.example.service.impl.AopTestServiceImpl"/>
    <bean id="tracingInterceptor" class="org.example.interceptor.TracingInterceptor"/>
<!--    <bean id="aopTestService" class="com.minis.aop.ProxyFactoryBean" init-method="initializeAdvisor">-->
<!--        <property type="java.lang.Object" name="target" ref="realService"/>-->
<!--        <property type="String" name="interceptorName" value="advisor"/>-->
<!--    </bean>-->
    <bean id="advisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.aop.Advice" name="advice" ref="tracingInterceptor"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>
    <bean id="autoProxyCreator" class="com.minis.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property type="String" name="pattern" value="real*"/>
        <property type="String" name="interceptorName" value="advisor"/>
    </bean>

    <bean id="realService2" class="org.example.service.impl.AopTestService2Impl"/>

    <!-- transaction -->
    <bean id="txInterceptor" class="com.minis.aop.framework.transaction.TransactionInterceptor">
        <property type="com.minis.aop.framework.transaction.TransactionManager" name="transactionManager" ref="txdManager"/>
    </bean>
    <bean id="txdManager" class="com.minis.aop.framework.transaction.TransactionManager"/>
    <bean id="txAdvisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.aop.Advice" name="advice" ref="txInterceptor"/>
        <property type="String" name="mappedName" value="*WithTransaction"/>
    </bean>

    <bean id="userClassDao" class="org.example.dao.UserClassDao"/>
    <bean id="realUserClassService" class="org.example.service.impl.UserClassServiceImpl"/>

    <bean id="txProxy" class="com.minis.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property type="String" name="pattern" value="*Service"/>
        <property type="String" name="interceptorName" value="txAdvisor"/>
    </bean>
</beans>